#command-box.command-box-outer {
  position: absolute;
  width: 256px;
  background-color: #fefefe;
  border-radius: 6px;
  z-index: 11000;
  border: 2px solid #222222;
  box-sizing: border-box;
}

#command-box .command-box-inner {
  width: 246px;
  display: flex;
  flex-wrap: wrap;
  background-color: #222222;
  padding: 40px 0 14px 0;
  margin: 3px;
  border-radius: 5px;
  position: relative;
}

#command-box .command-content {
  height: 32px;
  color: #fefefe;
  font-family: Meiryo;
  text-align: left;
  vertical-align: top;
  letter-spacing: 3px;
  font-size: 17px;
}

#command-box .command-title {
  position: absolute;
  width: 87px;
  height: 30px;
  font-family: Meiryo;
  background-color: #222222;
  color: #fefefe;
  left: 83px;
  padding-left: 3px;
  text-align: center;
  letter-spacing: 3px;
  font-size: 17px;
  z-index: 15000;
}

#command-box .command-pointer {
  /*position: absolute;*/
  /*color: #fefefe;
  padding-left: 10px;
  font-size: 16px;*/
  /*width: 110px;*/
  /*text-align: left;
  z-index: 12000;*/
}

#command-box.display-block {
  display: block;
}

#command-box.display-none {
  display: none;
}
